.input{
	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 8px;
	}
	&__area{
		@include input;
	}
	&__label{
		font-size: 18px;
		line-height: 1;
		font-weight: 300;
		color: $white
	}
}
.error {  
	border: 1px solid red;  
	&-message {  
		color: red;  
		font-size: 0.85em;  
	}  
}  
