.navbar{
	width: calc(100vw - 260px);
	background-color: $black;
	height: 40px;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 100;
	&__user{
		color: $white;
		padding-right: 30px;
		@include textRegular(16);
	}
}