.menu{
	&__wrapper{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
		padding: 20px;
	}
	&__router-link{
		@include secondaryButton;
		width: 100%;
	}
	&__router-text{
		color: white;
		@include textRegular(16);
	}
}

::v-deep(.menu__svg-image svg) {
  width: 24px;
  height: 24px;
}
