.task{
	&__wrapper{
		background: $darkViolet;
		padding: 15px;
		border-radius: 30px;
		width: 300px;
		box-shadow: $shadow3;
	}
	&__title{
		color: $white;
		display: block;
		padding-bottom: 10px;
		margin: 4px 0;
		@include textMedium(16);
	}
	&__color-underline{
		width: 100%;
		height: 4px;
		border-radius: 2px;
	}
	&__subtitle{
		color: $white;
		margin-left: 14px;
		@include textRegular(16);
	}
	&__span{
		padding-left: 6px;
		color: $gray;
		width: 100%;
		@include textLight(14);
	}
	&__deadline{
		white-space: nowrap;
		padding: 3px 8px;
		background-color: $red;
		border-radius: 3px;
		color: $white;
		@include textRegular(14);
	}
	&__text{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 16px;
		color: $white;
		@include textMedium(14);
	}
	&__comment{
		&-wrapper{
			margin-top: 36px;
			position: relative;
		}
		&-text{
			color: $white;
			margin-top: 6px;
			@include textMedium(14);
		}
	}
	&__hidden-info{
		display: none;
		padding: 12px 6px 20px 0;
		background-color: $darkBlue2;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		position: relative;
		&.visible{
			display: flex;
			flex-direction: column;
		}
		&.teamlead{
			padding: 12px 6px 60px 0;
		}
	}
	&__button{
		margin-right: 2px;
		@include circleButton;
		&-area{
			margin-top: 20px;
			width: 100%;
			background-color: $darkBlue2;
			height: 56px;
			border-radius: 26px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			&.active{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
	&__icon-button{
		margin-bottom: 2px;
		transform: rotate(90deg);
		transition: all ease 0.5s;
		&.active{
			transform: rotate(270deg);
		}
	}
	&__button-edit{
		cursor: pointer;
		@include circleButton(52px)
	}
	&__button-icon{
		height: 24px;
		width: 24px;
		margin-left: 3px;
	}
	&__button-wrapper{
		position: absolute;
		bottom: 3px;
		right: 3px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__comment{
		color: $white;
		@include textMedium(14);
		padding: 6px;
	}
	&__dropdown-status.active{
		cursor: pointer;
	}
}
