.notify{
  &__buttons-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 10px;
  }
  &__button{
    @include secondaryButton;
  }
  &__text{
    @include textLight(16);
  }
  &__username{
    @include textMedium(16);
  }
  &__project{
    color: $yellow;
    @include textMedium(16);
  }
}
