.user{
  &__wrapper{
    padding: 22px;
    border: 1px solid $gray;
    border-radius: 8px;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $modalLayer;
  }
  &__info{
    &-button{
      @include circleButton;
    }
    &-buttons-wrapper{
      display: flex;
      align-items: center;
      gap: 16px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
  &__moreinfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    &-context{
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
    &-text{
      color: $white;
      @include textMedium(16);
    }
    &-title{
      color: $white;
      @include textBold(22);
    }
    &-label{
      white-space: nowrap;
      display: inline-block;
      color: $gray;
      @include textLight(14);
    }
  }
  &__moreinfo-empty{
    margin-top: 10px;
  }
  &__moreinfo-header{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 8px;
      right: -220px;
      height: 1px;
      width: 200px;
      background-color: $gray2;
    }
  }
  &__moreinfo-container{
    margin-top: 20px;
  }
  &__stack{
    display: inline-block;
    padding: 8px;
    border: 1px solid $gray;
    color: $white;
    white-space: nowrap;
    border-radius: 16px;
    @include textRegular(14);
  }
  &__stack-wrapper{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__moreinfo-header--content{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }
  &__moreinfo-footer--content{
    display: flex;
    flex-direction: column;
  }
}
