.settings{
	&__wrapper{
		margin-right: 20px;
		transition: all ease 0.5s;
		display: flex;
		align-items: flex-start;
		gap: 20px;
		padding-bottom: 20px;
	}
	&__container{
		display: flex;
		gap: 20px;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__side{
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__stack-wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	&__stack-button{
		@include textRegular(12);
		padding: 6px 8px;
		border-radius: 14px;
		color: $white;
		border: 1px solid $white;
		cursor: pointer;
	}
	&__title,
	&__stack-title {  
		margin-bottom: 20px;  
		color: $white;
		@include heading(22);  
	}  
	&__profile{
		width: 47%;
	}
	&__profile,
	&__stack{
		background-color: $darkBlue;
		padding: 22px;
		border-radius: 4px;
		border: 1px solid $gray;
	}
	&__right-side{
		width: 47%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__button{
		@include primaryButton;
	}
}

.settings__checkbox-group {    
	input[type="checkbox"] {  
		display: none; 
	}  
	input[type="checkbox"]:checked + .settings__stack-button{  
		background-color: $darkViolet; 
	}
	input[type="checkbox"]:hover + .settings__stack-button{  
		background-color: $darkBlue2; 
	}
}  
