.boards{
	min-width: 2500px;
	position: relative;
	&__wrapper{
		margin-left: 40px;
		display: flex;
		align-items: stretch;
		flex-wrap: nowrap;
		transition: all ease-in-out 0.5s;
		&.visible{
			margin-left: 260px;
		}
	}
	&__empty-list{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		@include heading(22);
	}
	&__create-aside{
		position: fixed;
		right: 0;
		top: 0;
	}
	&__create-widget{
		position: fixed;
		top: 80px;
		right: 0;
		transition: all ease 0.4s;
		transition-delay: 0.4s;
		transform: translateX(0);
		&.hidden{
			transform: translateX(100%);
		}
	}
}
