.search{
  display: flex;
  align-items: center;
  gap: 10px;
  &__input{
    padding: 6px;
    outline: none;
    border: none;
    border-bottom: 1px solid $gray2;
    background-color: transparent;
    width: 100%;
    color: $white;
    @include textMedium(16);
    @include screen('550px'){
			width: 300px;
		}
  }
  &__icon{
    display: none;
    @include screen('460px'){
      display: flex;
    }
  }
}