.projects{
	&__list{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: 50px;
		margin-right: 20px;
		padding: 50px 0 22px;
		gap: 10px;
		transition: all ease 0.5s;
		&.visible{
			margin-left: 280px;
		}
	}
	&__empty-list{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $white;
		@include heading(22);
	}
	&__create-widget{
		position: fixed;
		top: 80px;
		right: 0;
		transition: all ease 0.4s;
		transition-delay: 0.4s;
		transform: translateX(0);
		&.hidden{
			transform: translateX(100%);
		}
	}
}
