.aside{
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 260px;
	background-color: $black;
	z-index: 10;
	&__logout-button{
		background: transparent;
		border: none;
		cursor: pointer;
	}
}

::v-deep(.svg_image svg) {
  width: 24px;
  height: 24px;
}
::v-deep(.svg_image svg path) {
  stroke: $gray;
}
::v-deep(.svg_image:hover svg path) {
  stroke: $blue;
}
