.login{
	&__wrapper{
		width: 470px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 20px;
		border: 1px solid $gray;
		border-radius: 4px;
		background-color: $violetBg;
	}
	&__button{
		padding: 12px 54px;
		display: inline-block;
		@include primaryButton;
	}
	&__title{
		color: $white;
		margin: 20px 0 10px;
		@include heading(22);
	}
	&__link{
		@include textLink(14);
	}
	&__link-text{
		display: flex;
		flex-direction: column;
		gap: 8px;
		color: $white;
		@include textLight(14);
	}
}