.users{
  position: relative;
  &__wrapper{
		background-color: $mainBg;
		min-width: 2300px;
		margin-left: 60px;
		display: flex;
		align-items: stretch;
		flex-wrap: nowrap;
		transition: all ease-in-out 0.5s;
    padding-top: 80px;
		&.visible{
			margin-left: 260px;
		}
	}
}