.users{
  position: relative;
  &__wrapper{
		background-color: $mainBg;
		margin-left: 80px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		transition: all ease-in-out 0.5s;
    padding-top: 80px;
		&.visible{
			margin-left: 280px;
		}
	}
	&__title{
		padding-bottom: 10px;
		color: $white;
		@include heading(22);
	}
}