.links{
	&__list{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex-direction: column;
		margin-left: 70px;
		margin-right: 20px;
		padding: 70px 0 22px;
		gap: 10px;
		transition: all ease 0.5s;
		&.visible{
			margin-left: 280px;
		}
	}
	&__create-widget{
		position: fixed;
		top: 110px;
		right: 0;
		transition: all ease 0.4s;
		transition-delay: 0.4s;
		transform: translateX(0);
		&.hidden{
			transform: translateX(100%);
		}
	}
}
