.links{
	&__title{
		padding-bottom: 20px;
		color: $white;
		@include heading(22);
	}
	&__list{
		display: flex;
		flex-direction: column;
		margin-left: 70px;
		margin-right: 20px;
		padding: 80px 0 22px;
		transition: all ease 0.5s;
		&.visible{
			margin-left: 280px;
		}
		&-wrapper{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			align-items: flex-start;
		}
	}
	&__create-widget{
		position: fixed;
		top: 110px;
		right: 0;
		transition: all ease 0.4s;
		transition-delay: 0.4s;
		transform: translateX(0);
		&.hidden{
			transform: translateX(100%);
		}
	}
}
