.task__show-button{
	height: 40px;
	width: 40px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	border: none;
	cursor: pointer;
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	background-color: $yellow;
}
