.notify{
  &__layout{
    min-width: 320px;
    background-color: $modalLayer;
    backdrop-filter: blur(10px);
    color: $white;
    padding: 42px 0 22px;
    border-radius: 8px;
    border: 1px solid $gray2;
    position: relative;
  }
  &__content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
    max-height: 80vh;
    padding: 0 22px;
    @include custom-scrollbar;
  }
  &__close-button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $white;
    font-size: 26px;
    transform: rotate(45deg);
  }
  
}